*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(165, 153, 245);
}

header{
    padding: 10px;
    background-color: white;
}

.logo_text{
    color: black;
    font-size: 30px;
    vertical-align: middle;
    font-weight: bolder;
}

#logo{
    vertical-align: middle;
}




